 * {
  box-sizing: border-box;
  color: #2e3440;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}


.main {
  margin: 2rem auto;
  max-width: 700px;
  padding: 0px 50px;
}

a {
  color: #ff2e88;
}

a:hover {
  background-color: #ff2e88;
  color: #fff;
}

.projects .project {
  border: 1px solid #ff2e88;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.section {
  margin-bottom: 1.5rem;
}
