@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

 * {
  box-sizing: border-box;
  color: #2e3440;
  font-family: "Inter", helvetica, arial, geneva, sans-serif;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "MADE Dillan", "helvetica neue", helvetica, arial, geneva, sans-serif;
  font-weight: 400;
}


pre {
  font-family: "Cartograph CF", monospace;
  overflow: scroll;
}

.main, main, header, footer {
  margin: 2rem auto;
  max-width: 800px;
  padding: 0px 50px;
}

a {
  color: #ff2e88;
}

a:hover {
  background-color: #ff2e88;
  color: #fff;
}

.projects .project {
  border: 1px solid #ff2e88;
  border-radius: 3px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.section {
  margin-bottom: 1.5rem;
}


@font-face {
  font-family: "Cartograph CF";
  src: url("fonts/CartographCF-Light.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("fonts/CartographCF-LightItalic.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
    font-family: "MADE Dillan";
    src: url("fonts/MADEDillan.woff2") format("woff2"),
        url("fonts/MADEDillan.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
